<div class="container">
  <h2>Dynamic Form Builder</h2>

  <!-- Available Fields to Drag -->
  <div class="available-fields" cdkDropList [cdkDropListData]="availableFields" [cdkDropListConnectedTo]="['formBuilderContainer']">
    <h3>Available Fields</h3>
    <div *ngFor="let field of availableFields" cdkDrag>
      <button mat-button>{{ field.label }}</button>
    </div>
  </div>

  <!-- Blue Container to Drop Form Fields -->
  <div class="form-builder-container" cdkDropList id="formBuilderContainer" [cdkDropListData]="formFields" [cdkDropListConnectedTo]="['availableFields']" (cdkDropListDropped)="drop($event)">
    <h3>Form Builder (Drop Here)</h3>

    <!-- Dynamic Form Elements -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngFor="let field of formFields; let i = index">
        <div class="field-container">
          <!-- Label Editor -->
          <input matInput placeholder="Edit label" [value]="field.label" >
          <!-- (input)="updateLabel(i, $event.target.value)" -->

          <!-- Dynamic Field Rendering -->
          <ng-container [ngSwitch]="field.type">
            <!-- Number Input -->
            <div *ngSwitchCase="'input'">
              <mat-form-field>
                <input matInput type="number" [placeholder]="field.label" [formControl]="field.control" />
              </mat-form-field>
            </div>

            <!-- Dropdown -->
            <div *ngSwitchCase="'select'">
              <mat-form-field>
                <mat-select [placeholder]="field.label" [formControl]="field.control">
                  <mat-option *ngFor="let option of field.options" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>
              <!-- Add Options -->
              <input matInput placeholder="Add option" #newOptionInput>
              <button mat-button (click)="addOption(i, newOptionInput.value); newOptionInput.value=''">Add</button>
              <div *ngFor="let option of field.options; let j = index">
                {{ option }}
                <button mat-icon-button (click)="removeOption(i, j)">x</button>
              </div>
            </div>

            <!-- Radio Button -->
            <div *ngSwitchCase="'radio'">
              <mat-radio-group [formControl]="field.control">
                <mat-radio-button *ngFor="let option of field.options" [value]="option">{{ option }}</mat-radio-button>
              </mat-radio-group>
              <!-- Add Options -->
              <input matInput placeholder="Add option" #newRadioOption>
              <button mat-button (click)="addOption(i, newRadioOption.value); newRadioOption.value=''">Add</button>
              <div *ngFor="let option of field.options; let j = index">
                {{ option }}
                <button mat-icon-button (click)="removeOption(i, j)">x</button>
              </div>
            </div>

            <!-- Checkbox -->
            <div *ngSwitchCase="'checkbox'">
              <mat-checkbox *ngFor="let option of field.options" [formControl]="field.control">{{ option }}</mat-checkbox>
              <!-- Add Options -->
              <input matInput placeholder="Add option" #newCheckboxOption>
              <button mat-button (click)="addOption(i, newCheckboxOption.value); newCheckboxOption.value=''">Add</button>
              <div *ngFor="let option of field.options; let j = index">
                {{ option }}
                <button mat-icon-button (click)="removeOption(i, j)">x</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <button mat-raised-button type="submit">Submit</button>

      <div>
        <button mat-raised-button (click)="saveForm()">Save Form</button>
        <button mat-raised-button (click)="loadForm()">Load Form</button>
      </div>
    </form>
  </div>
</div>



<router-outlet />
